{% extends "core/layout.html" %} {% block title %}Our Mission To Help You |
Tyche{% endblock %} {% block description %}Discover how Tyche is on a mission to
enhance financial literacy among young adults in the UK. Get insights to improve
your financial well-being. {% endblock %} {% block body %}

<div class="about-hero">
  <h1>Money stress? We've got your back</h1>
  <h2>Money management made simple</h2>
  <p>&#x1F4C8; 💸</p>
</div>

<div class="about-image">
  <div class="coins-background">
    <img
      class="coins-image"
      src="static/tyche/images/smile.jpg"
      alt="Person smiling"
    />
  </div>

  <div class="container">
    <div class="about-text">
      <h2 class="about-h2">Mission Statement</h2>
      <p class="about-para">
        The purpose of Tyche is simple. Improve financial literacy in the UK,
        especially among young adults. Many young people feel anxious about
        money and finance, and this is rising. They want better, higher quality
        financial education especially about mortgages, pensions, loans, credit
        cards, budgeting, debt management and taxes. Over half receive a
        financial education from their parents - but what if these ideas are not
        current or helpful in the current world? We want to deliver generally
        timeless financial advice for the UK, that avoids referring to specific
        products and instead focuses on ideas that stand the test of time. Our
        end goal is to improve people's quality of life, especially during the
        current difficult economic climate.
      </p>
      <p class="about-disclaimer">
        Please note that this site provides information, not advice. Tyche is
        not a regulated entity and cannot be held responsible if you act on the
        information contained within.
      </p>
    </div>
  </div>
  </div>

  {% endblock %}
</div>
