{% extends "core/layout.html" %} 

{% block title %}Budgeting with Purpose: Achieve Your Financial Goals | Tyche{% endblock %}
{% block description %}Discover the essentials of budgeting in the UK. Learn how to effectively manage your money, prioritise spending, and make informed financial decisions. Start your journey to financial wellness today. {% endblock %}

{% block body %}
<div class="hero">
    <section class="hero-left">
    <h1 class="hero-header">How to stick to a budget</h1>
    <p class="hero-para">Budgeting is a simple financial planning process where you decide how much money you have and how you want to spend it. It helps you make sure you don't spend more money than you have and allows you to prioritise where your money goes, like saving, paying bills, or buying things you need. In short, it's a way to manage your money wisely.</p>
</section>
<section class="hero-right">
    <img
    class="hero-image"
    src="static/tyche/images/coins.jpg"
    alt="Coins"
  />
</section>
</div>
<div class="content">
    <h2 class="content-h2">How to start budgeting for beginners</h2>
    <p class="content-para">
        First, you need to see where you are currently in terms of spending. There are three general categories. 

Living expenses - needs that you have to pay for. This includes your rent/mortgage, food, travel costs and utilities.

Discretionary expenses - wants that you can change or reduce. Examples include entertainment, hobbies, luxuries, restaurants.

Infrequent large expenses - annual renewals, insurance, Birthday/Christmas presents, holidays. 

To see where your money is going, we recommend going through your expenses from the last 4 months and assigning them into different categories. Once you’ve done this once you will be able to figure out where you want your money to be going, and if you need to cut back from any area.

You can use an <a href="https://snoop.app/">app</a> or a <a href="https://docs.google.com/spreadsheets/d/1IPopS5NhfnzemcWgDtMruEo0HrqSAQsPBeP1hPA2Ffk/edit?usp=sharing">sheet template</a>. 

The first purpose is to see if you spend more than you earn, to make sure overspending isn’t leading to debt. This can easily spiral out of control, and is better addressed sooner than later.

The second is to make sure you are on track to reach whatever goals you have, that could be saving for a house deposit, a holiday or a car.

    </p>
</div>
<div class="content">
    <h2 class="content-h2">How to stop overspending</h2>
    <p class="content-para">
        If you’re in debt or are spending too much to meet your goals, you can use the breakdown of your spend to see if there are any parts you can remove or tweak.

For example, maybe you’re eating out multiple times a week and you can cut that down to once a week. This is more about adjusting habits than completely cutting all of the fun out of your life. 

A good approach is to prioritise the areas that matter more to you and be fairly minimal with other areas when it comes to spending money. For example, if collecting vinyl records means a lot to you you could prioritise that and pull back in other areas. 


    </p>
</div>
<div class="content">
    <h2 class="content-h2">How to spend money wisely</h2>
    <p class="content-para">
        We recommend a set up like below to make everything easier:

        <ul class="content-list">
            <li>An account where you get paid where bills, direct debits or other living costs come out of</li>
            <li>A savings account - move money into here automatically near payday each month from the above account</li>
            <li>A third account for “fun money”, which you can spend however you like</li>
        </ul>
    </p>
    <p class="content-para">

        Once you’ve planned out your costs, you can enjoy yourself guilt free! Remember, the goal is to spend in a sustainable way in line with your future objectives, not to restrict yourself unnecessarily and miss out.

Some people can go too far in restricting themselves and not spending money. By giving yourself a set budget for what you want it can make you feel more comfortable when it comes to spending.



    </p>
</div>
<div class="content">
    <h2 class="content-h2">How to plan future spending</h2>
    <p class="content-para">
        By having your expenses in front of you, you can set your priorities. For example you may realise that:


        <ul class="content-list">
            <li>Living in the area you want to would mean that you can’t go out as often</li>
            <li>Upgrading your car would reduce the amount you can save for a house deposit, meaning you have to live with your parents for another year
            </li>
            <li>Getting the most expensive house you can means cutting all costs to the bone</li>
        </ul>
        <p class="content-para">
        This all depends on what you find most important, and it also depends on your overall income. With the information about your expenses you can put together a budget for any future plans you may have. Be sure to leave some breathing room, many different hobbies, cars and houses all need maintenance or some sort of regular cost to keep them going.

If your plans are different to your friends, don’t be deterred, everyone has different goals and areas which are more important to them. It’s important that you prioritise what is most important for you, what makes you the happiest. 



    </p>
  </div>

{% endblock %}