{% extends "core/layout.html" %} 

{% block title %}Credit Cards A Comprehensive Guide for Beginners | Tyche{% endblock %}
{% block description %}Unlock the power of credit cards with our comprehensive guide. Learn about different card types to smart spending strategies and managing your credit.{% endblock %}

{% block body %}
<h1 class="content-h1">Credit Cards</h1>
  <div class="content-div">
    <h2 class="content-h2">What is a credit card?</h2>
    <p class="content-para">
        
When you make a purchase with a credit card, the card issuer pays for the transaction, then sends you a statement. This is unlike a debit card where the money is taken from your bank account. 

Listed on the statement will be transactions made in the past month, along with any balance owed from previous months. There will be a total owed (up to the statement date) and a minimum payment amount which covers interest, fees and an amount of the balance.

When paying the full amount, you don’t pay any interest on purchases. If you repay less, you start accruing interest. If you don’t make the minimum payment this is considered a missed payment. 

This is important to avoid, it damages your credit rating, causes additional fees and potentially other measures to recover your debt.

    </p>
    <h2 class="content-h2">Why use a credit card?</h2>
    <p class="content-para">
        Credit cards give more protection on purchases, cashback and other incentives. As long as they’re used responsibly they can give you many benefits.


    </p>
    <h2 class="content-h2">How do you pay off a credit card each month?</h2>
    <p class="content-para">
        The best way is to set up a direct debit to pay automatically each month. This can be done to the full statement balance or the minimum payment.

Setting it up for the full amount is ideal, so that you do not build up a balance or incur additional fees. 

If this isn’t possible, setting one up so the minimum payment is taken automatically can work. If you’re making payments manually, don’t have enough to cover the amount at the time or other circumstances this can make sense in the short term.


    </p>
    <h2 class="content-h2">Credit card statement periods (or billing cycles)
    </h2>
    <p class="content-para">
        Statement periods are often based on the day your card was set up. Statements are sent monthly, covering the month before. Usually this is 25 days after the statement date.

        This can be confusing if you check your statement and see that there is balance remaining even if you’ve set up your direct debit to pay the full amount. This is normal, because the card has been used since the statement has been generated, these transactions will be covered in the next statement period. 
        


    </p>

    <h2 class="content-h2">Credit card fees explained
    </h2>
    <p class="content-para">
        The fees for your credit card depend on the card itself, these terms will be listed before applying. Read these carefully before using the card.

        Example charges include:
        <ul>
            <li>Withdrawing cash</li>
            <li>Purchasing in other currencies
            </li>
            <li>Not paying the minimum balance</li>
            <li>Exceeding your credit limit</li>
        </ul>

    </p>
    <h2 class="content-h2">Disadvantages of using a credit card
    </h2>
    <p class="content-para">
        Interest rates - purchases to be significantly more expensive if you’re not paying the full amount each month. Be very careful if you’re paying the minimum payment.

        Budget issues - your budget can be more difficult to manage and keep track of using a credit card. With a debit card you can check the amount remaining, or set transfers to other accounts to make sure you spend within your means. With a credit card it’s harder to keep track of what you’re spending, and much easier to go above the budget you’ve set.
        
        Debt - credit cards allow you to spend more than you have, which can quickly snowball into a terrible situation that can be difficult to get out of.
        
    </p>
    <h2 class="content-h2">Advantages of using a credit card
    </h2>
    <p class="content-para">
        Greater protection - when making a purchase, if there are issues with a trader you can contact your credit card provider to resolve it and get your money back. 

        Fraud - if you have issues with your main bank account debit card, it can leave you with less money temporarily. With a credit card, your issuer can wipe the transactions and you won’t be affected. Your credit card is separate from your finances.
        
        Credit rating - by paying your card off in full each month you can build up your credit rating over time which offers many advantages.
        
    </p>
  </div>

{% endblock %}