{% extends "core/layout.html" %} {% block title %}Emergency Fund | How And Why |
Tyche{% endblock %} {% block description %}Learn about one of the most
underrated personal finance areas, protecting you against hardship or potential
financial issues. {% endblock %} {% block body %}
<h1 class="content-h1">Emergency Fund</h1>
<div class="content-div">
  <h2 class="content-h2">What is an emergency fund?</h2>
  <p class="content-para">
    An emergency fund is 3 to 6 months of saved expenses, in an easy access bank
    account. If you're self employed, 12 months makes more sense. The purpose is
    to guard you against any sudden negative circumstance for example job loss,
    issues with your car or home or anything else that causes sudden, large
    financial impact. It gives you peace of mind, and security when it comes to
    any financial issues.
  </p>
  <h2 class="content-h2">How do I save up an emergency fund?</h2>
  <p class="content-para">
    By saving what you can each month, you can build one up over time and give
    you peace of mind during any risky times. We recommend keeping it in a
    separate savings account so that you aren't tempted to withdraw from it.
  </p>
  <h2 class="content-h2">Where should I keep my emergency fund?</h2>
  <p class="content-para">
    By choosing one of the higher interest rate savings accounts you can gain
    some interest on your emergency fund while you store it away. Generally the
    top ones don't change that often so it may not be worth your time to keep up
    fully. There are often switch incentives, where just by switching banks and
    opening a new current account you're given some money. These can be good but
    do take some admin time. It may be worth learning new skills or furthering
    your career instead in the long term.
  </p>
</div>
{% endblock %}
