{% extends "core/layout.html" %} {% block title %}Your Guide to Mortgages in the UK | Tyche{% endblock %} {% block description %}We cover everything you need to know about mortgages in the UK. From understanding mortgage types to finding the best rates, we've got you covered.{% endblock %} {% block body %}
<h1 class="content-h1">Mortgages</h1>
<div class="content-div">
  <h2 class="content-h2">Mortgages: Your Path to Homeownership in the UK</h2>
  <p class="content-para">
    Whether you’re a first time buyer or you’re planning your next move, a solid grasp of mortgages is important. Your living costs are an essential part of your budget, and your living situation is an important one to get right.

  </p>
  <h2 class="content-h2">How do mortgages work?</h2>
  <p class="content-para">
    A mortgage is a fixed amount of money used to buy a property, alongside your deposit. For example a £200,000 house with a £170,000 mortgage and £30,000 deposit.

    The mortgage figure is what you pay off monthly (with interest), steadily over time you pay this off and the home is yours. 
    
  </p>
  <h2 class="content-h2">Mortgages are a form of “secured borrowing”
</h2>
  <p class="content-para">
    Mortgages work differently to other loans - a legal charge is taken out against the property. This means they have the right to repossess it and take it away if the loan isn’t paid. 

    The consequences are much higher, which is why it’s so important to not miss mortgage payments.
    
  </p>
  <h2 class="content-h2">How do interest rates work?
</h2>
  <p class="content-para">
    If you borrowed £170,000 at 5% interest you would be paying £8,500 in interest in the first year. This is the equivalent to £708 in interest per month in addition to an amount of the loan (often called the principal).

    When initially taking out your mortgage, you can select different lengths of mortgage term. This is the length of time you have to pay back the mortgage. The longer the time - the lower the payments as you have more time to pay off the principal. Shorter loans are cheaper overall though as there’s 10 fewer years of interest payments.
    
    
  </p>
  <h2 class="content-h2">What does “loan-to-value” (LTV) mean?

</h2>
  <p class="content-para">
    LTV is the percentage of the property you’re borrowing against.

For example, if you subtract your deposit from 100% you can work this out. If you had a £30,000 deposit on a £200,000 home, you have a 15% deposit. This means you owe 85%, so you have an LTV of 85%.

When your LTV is lower, you can access better interest rates. The more you pay off your loan (or the value of your home increases), the lower interest rates you’ll be able to access. This means lower monthly payments, giving you more freedom on a monthly basis.

  </p>

  <h2 class="content-h2">How much can I borrow?

  </h2>
    <p class="content-para">
        Three factors contribute to the amount you can borrow. These are your gross income, monthly affordability and percentage of equity required (LTV).

        Generally you can borrow up to 4.5 times your gross income. For example if you earn £30,000 per year, you can borrow £135,000. If you’re buying with someone you can use your joint income.
        
        If you have any irregular income like bonuses or overtime, as long as there is good evidence of it occurring consistently that will likely be included. This is calculated differently though so it depends on the individual lender.
        
    </p>

    <h2 class="content-h2">How lenders assess affordability

    </h2>
      <p class="content-para">
        Lenders can also limit how much you can borrow based on affordability of monthly payments. This does not generally impact the amount you can borrow, but if you have high expenses or multiple dependants it may limit what you can get.
      </p>

      <h2 class="content-h2">How much do I need for a deposit?

      </h2>
        <p class="content-para">
            The minimum deposit is usually 5-10% of the property to take out a mortgage. If you’re a first time buyer this means having the cash available as a deposit, for a home-mover or remortgager this can be based on the equity in their current property. 

            For example, if you had a salary of £30,000 and could borrow up to £135,000, to afford a £150,000 property you’d need a deposit of £15,000 (10%). Saving a deposit can be difficult, there are different schemes that can help you: </p>

            <h3>Lifetime ISA (LISA)</h3>

            <p class="content-para">
                This savings account boosts first-time-buyer deposit savings by 25%, to a cap of £1000 for every year of saving. The restrictions are that the house price must be less than £450,000 and you must be a first-time-buyer.

        </p>

        <h3>Shared ownership</h3>

        <p class="content-para">
            Part-buying and part-renting from a local authority or housing association.
    </p>

    What to consider when taking out a mortgage

    <p class="content-para">
        The government provides a loan of up to 20% of the property value, interest free for 5 years. It is only available on new-builds however and has some caveats.
</p>

<h2 class="content-h2">What to consider when taking out a mortgage

</h2>

<h3>Mortgage Term</h3>

  <p class="content-para">
    The shorter the term of your mortgage, the less interest you pay but the higher the monthly payments. This ties back into your overall budget and what financial goals you may have. There is often the option to intentionally overpay your mortgage, giving you additional flexibility on a month to month basis. 
  </p>

  <h2 class="content-h2">Fixed rate or variable rate

  </h2>

  <h3>Fixed Rate</h3>

  <p>Most mortgages in the UK have a fixed interest rate for a set period, often 2 to 5 years. During this period payments are a fixed, constant amount - staying the same every month.

    When it ends, you’ll move over to the lender’s Standard Variable Rate. This is usually a higher interest rate and means you’ll have higher monthly payments. The interest rate will also be changing constantly, making it hard to plan or budget.
    
    It’s best to arrange a new fixed rate deal to start when your current one ends, this can be with your current lender or a new one.
    
    If you do end your mortgage before your fixed term ends, you will have to pay exit fees however which can be 1-5% of the mortgage loan.
    </p>

    <h3>Variable rate</h3>

    <p>The other options involve a variable rate. The main ones being:

        <ul>
            <li>Tracker mortgages - which track the Bank of England base rate plus a certain percentage</li>
            <li>Discount mortgage - fixed discount against the bank’s own Standard Variable Rate</li>
        </ul>
      </p>

      <h3>Choosing between fixed and variable rate</h3>

      <p>Taking a fixed rate means you know what your monthly payments are going to be. Variable mortgages are often cheaper overall but with a fixed rate you’re able to budget more consistently and easily. This difference can also be significantly worse during economic downturns or uncertainty.
        </p>

        
          <h2 class="content-h2">Interest rates
        
          </h2>

          <p class="content-para">
            Interest is the cost of borrowing, the lower this is, the less you’ll pay. The objective is to lock in the lowest rate possible for as long as possible (assuming this doesn’t conflict with your plans to move or sell your property) 
          </p>
        </div>
  {% endblock %}
